/*
  $Id$

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2010 osCommerce

  Released under the GNU General Public License
*/

.ui-widget {
  font-family: Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
  font-size: 11px;
}
.clear {
 clear: both;
}
* .clear:after {
 content: '.';
 text-indent: -99999px;
}
body {
  background: #F7F7F7;
  color: #666;
  margin: 0px;
  font-size: 11px;
  font-family: Arial, Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
}

.motored { color: #c11e24; }
.motogreen { color: #1dbd11; }
.motogrey { color: #828181; }
.greyBar {   background: url(images/layout/body-header.png) no-repeat; height: 33px; line-height: 33px; padding-left: 10px }
h1.greyBar { font-size: 14px; }
.shadow-box {background: url(images/layout/motorfiend-sprites.png) no-repeat 50% 0px; width: 100%; height: 20px;}

/*#fullwrap { min-width: 1249px; }*/
#mainWrapper {
 margin: 0 auto;
 max-width: 975px;
}
#bodyWrapper {
 margin: 0 auto 0 0px;
 position: relative;
 border-width: 0 1px;
 border-style: solid;
 border-color: #efefef;
}

#bodyContent {
 float: right;
 width: 100%;
}
#bodyContent.push_4 {
 width: 760px;
}

#header {
  height: 60px;
}

#storeLogo a{
  float: left;
  margin-top: 16px;
  display: block;
  background-image: url("/images/store_logo.png");
  width: 210px;
  height: 51px;
  text-indent: -99999px;
}


#headerShortcuts {
  background: #f7f7f7;
  color: #2e2e2e;
  text-align: right;
  margin: 0 auto 0 0px;
  border-width: 0 1px 1px 1px;
  border-style: solid;
  border-color: #efefef;

}
#headerShortcuts a {
 color: #2e2e2e;
 text-decoration: none;
 padding: 0 3px;
 line-height: 28px;
}
#headerShortcuts a#live-support { color: #39c20a;  background: url(images/layout/motorfiend-sprites.png) no-repeat 73px -191px; padding-right: 25px; padding-top: 2px; padding-bottom: 5px;}
#headerCart {
 clear: right;
 float: right;
 text-align: center;
 color: #474747;
 font-size: 16pt;
 font-weight: bold;
 margin: 16px 15px 0 15px;
}
#headerCart a { color: #2e2e2e; text-decoration: none }
#headerCart span a {
 display: block;
 color: #ccc;
 font-size: 10pt;
 margin-top: -3px;
}
#headerCartLinks a {
 font-size: 11px;
 color: #aeaeae;
}
#view-trunk {
 display: block;
 float: right;
 width: 80px;
 height: 35px;
 background: url(images/layout/motorfiend-sprites.png) -399px -148px;
 text-indent: -99999px;
 border-left: 1px solid #e7e7e7;
 padding-left: 10px;
 margin: 3px 0 0 10px;
}
  #view-trunk:hover, #headerCart a.view-trunk-hover {
 background-position: -501px -148px;
}

#topMenu {
 clear: both;
 background: url(images/layout/menubar-back.png) no-repeat;
 height: 38px;
}

#topMenu ul {list-style: none; padding: 0; margin-left: 10px;}
#topMenu #welcome { color: #fff;  font-size: 14px; font-weight: bold; margin-right: 75px; padding-left: 15px;}
#topMenu #welcome-vehicle a { color: #fff;  font-size: 12px; margin-right: 50px;}
#topMenu ul li {line-height: 32px; display: block; float: left;}
#topMenu ul li a {font-weight: bold; font-size: 12px; color: #474747 }
#topMenu ul li.topMenu-spacer {
 background: url(images/layout/menubar-spacer.png) no-repeat 50% 0%;
 width: 30px;
 height: 32px;
}

#breadcrumb { color: #525254; margin: 5px 0 0px 5px; font-size: 12px; height: 20px }
.breadcrumb-content {background: #eeeeee; padding: 0 5px;}
#breadcrumb a {color: #525254; text-decoration: none;}

.breadcrumb-item span  {display: block; float: left; height: 19px; line-height: 19px;}
#breadcrumb-home a .breadcrumb-content {
 background: #eee url(images/layout/motorfiend-sprites.png) no-repeat -308px -157px;
 text-indent: -99999px;
 width: 20px;
 padding: 0;
}
.breadcrumb-right {
 width: 11px;
 background: url(images/layout/motorfiend-sprites.png) no-repeat -329px -157px;
}
.breadcrumb-left {
 width: 12px;
 background: url(images/layout/motorfiend-sprites.png) no-repeat -341px -157px;
}

#breadcrumb a:hover .breadcrumb-content {background-color: #ccc;}
#breadcrumb-home a:hover .breadcrumb-content { background-position: -353px -157px}
#breadcrumb a:hover .breadcrumb-right {background-position: -374px -157px; }
#breadcrumb a:hover .breadcrumb-left {background-position: -387px -157px; }

#columnLeft {
  padding-top: 10px;
  width: 215px;
}

.box-live-support a {
 display: block;
 width: 200px;
 height: 32px;
 background: url(images/layout/live-support.png) no-repeat;
 text-indent: -9999px;
 margin-bottom: 5px;
}

#categoryBoxContainer ul.menu a {
 color: #7d7d7d;
 text-decoration: none;
}
#categoryBoxContainer ul li a {
 display: block;
 width: 197px;
 line-height: 30px;
 height: 30px;
 padding-left: 10px;
 background: url(images/layout/sidebar-head.png) no-repeat;
}
#categoryBoxContainer ul li ul a {
 background: transparent;
}
#categoryBoxContainer ul li ul { background: #f1f1f1; width: 162px; margin: 5px 0 0 3px}
#categoryBoxContainer ul.menu {
 padding: 0;
 margin: 0 0 0 1px;
 list-style: none;
 font-size: 12px;
 font-weight: bold;
}
#categoryBoxContainer ul.menu li {
 margin-bottom: 5px;
}
#categoryBoxContainer ul.menu li.current a {
 color: #B41D23;
}
#categoryBoxContainer ul.menu ul {
 list-style: none;
 padding: 2px 15px;
 font-weight: normal;
}
#categoryBoxContainer ul.menu li ul li {
 margin-bottom: 0;
}
#categoryBoxContainer ul.menu li ul ul {
 /* display: none; */
 padding: 0 0 0 10px;
 margin: 0;
}
#categoryBoxContainer ul.menu li ul ul li.cat_lev_2 a {
 padding: 0;
 margin-left: 10px;
 width: auto;
}

#categoryBoxContainer ul.menu li.current ul a {
 color: #7d7d7d;
}
.page-banner { margin: 15px auto; }

.enteremail {
position: relative;
background-image: url(images/layout/enteremail.png);
background-repeat: no-repeat;
text-indent: -99999px;
height: 23px;
width: 484px;
display: block;
float:left;
left: 50%;
margin-left: -1003px;
margin-top: 17px;
}



.arrows {
position: relative;
 background: url(images/layout/motorfiend-sprites.png) 0 -148px;
 background-repeat: no-repeat;
 width: 105px;
 height: 42px;
 float:left;
 left:50%;
 margin-left: -515px;
 margin-top: 6px;
}

#body-bottom {
 width: 100%;
 height: 33px;
 background: url(images/layout/body-bottom.png) 50% 0;
 background-repeat: no-repeat;
 display: none;
}
.footer {padding-bottom: 15px; color: #7d7d7d;}
#footer_signup {
 display: none;
 background: url(images/layout/motorfiend-sprites.png) 0 -93px;
 height: 55px;
 margin: 10px auto 10px auto;
}
#footer_signup form { position: relative;
float: left;
left: 50%;
width: 400px;
 margin-left: 134px;
 margin-top: 13px; }
#footer_signup form input {border-radius: 3px; border: 1px solid #ccc; padding: 2px 5px; color: #666; font-size: 12px; font-style: italic; height: 21px;margin-right: 7px; width: 230px}
#footer_signup span {
position: relative;
left: 50%;
 color: #707070;
 width: 588px;
 margin-left: -500px;
 margin-top: 3px;
 line-height: 42px;
 font-size: 20px;
 font-weight: bold;
 font-style: italic;
 padding-right: 119px;
 background: url(images/layout/motorfiend-sprites.png) 602px -150px no-repeat;
 display: block;
 height: 41px;
 float: left;}
#footer-signup-submit {
 background: url(images/layout/motorfiend-sprites.png) no-repeat -110px -153px;
 text-indent: -9999px;
 width: 96px;
 height: 28px;
 border-radius: none;
 border: none;
 margin-top: 0px;
 margin-right: 25px;
 float: right;
 display:block;
}

#footer-signup-submit:Hover {
background: url(images/layout/motorfiend-sprites.png) no-repeat -208px -153px;
}

#footer-menu {
 margin: 0 auto ;

}
#footer-menu ul {
 float: left;
 padding: 0;
 margin: 0 45px 0 0;
 width: 190px;
 list-style: none;
 color: #7d7d7d;
 font-size: 17px;
 clear: left;
}
ul#footer-menu-1 { width: 105px;}
ul#footer-menu-2 { width: 162px;}
ul#footer-menu-3 { width: 95px;}
ul#footer-menu-4 { width: 125px;}


#footer-menu ul li { text-align: left; }
.footer-menu-head { text-indent: -9999px; margin-bottom: 5px;}
#footer-head-1 {
 background: url(images/layout/motorfiend-sprites.png) -0px -242px no-repeat;
 width: 125px;
}
#footer-head-2 {
 background: url(images/layout/motorfiend-sprites.png) -135px -242px no-repeat;
 width: 165px;
}
#footer-head-3 {
 background: url(images/layout/motorfiend-sprites.png) -320px -242px no-repeat;
 width: 105px;
}
#footer-head-4 {
 background: url(images/layout/motorfiend-sprites.png) -443px -242px no-repeat;
 width: 125px;
}
#footer-head-5 {
 background: url(images/layout/motorfiend-sprites.png) -605px -242px no-repeat;
 width: 125px;
}

#footer-menu ul a {
 color: #7d7d7d;
 text-decoration: none;
 font-size: 12px;
}
#footer-menu ul li.footer-social {
 width: 330px;
 font-size: 12px; font-weight: normal;
 height: 25px;
 margin-top: -1px;
 padding: 4px;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 text-align: left;
}

#gplus-text {
 position: relative;
 z-index: 9000;
 top: -8px;
 left: -25px;
 font-size: 11px;
}

#bottom-icons { clear: both; width: 886px; margin: 25px auto 15px auto; text-align: center; display: none;}
.infoBoxContainer { }

.infoBoxHeading {
  padding: 2px;
  font-size: 11px;
}

.infoBoxContents {
  padding: 5px;
  font-size: 11px;
  line-height: 1.5;
}

.contentContainer {
  padding-bottom: 10px;
}

.contentContainer h2 {
  color: #5c5353;
  font-size: 14px;
  margin-bottom: 0;
  padding-left: 8px;
  padding-bottom: 5px;
  background: url(images/layout/body-header.png) no-repeat;
  height: 33px;
  line-height: 33px;
}

.contentText, .contentText table {
  padding: 5px 0 5px 0;
  font-size: 11px;
  line-height: 1.5;
}

#featured-products {
/*
 height: 25px;
 background: url(images/layout/motorfiend-sprites.png) 0 -35px no-repeat;
 margin-bottom: 10px;
 position: relative;
*/
}
#welcome-heading {
 height: 22px;
 background: url(images/layout/motorfiend-sprites.png) 0 -66px no-repeat;
 margin-bottom: 10px;
 margin-top: 40px;
 position: relative;
}
#welcome-text-bottom {
  background: url(images/layout/motorfiend-sprites.png) no-repeat 50% 0px;
  height: 20px;
}
.hot-categories {
 height: 25px;
 background: url(images/layout/motorfiend-sprites.png) 0px -210px no-repeat;
 width: 195px;
 height: 25px;
 text-indent: -99999px;
 margin-bottom: 10px;
}
.hot-products {
 height: 25px;
 background: url(images/layout/motorfiend-sprites.png) -195px -210px no-repeat;
 width: 175px;
 height: 25px;
 text-indent: -99999px;
 margin-bottom: 10px;
}

.blockade {
 position: absolute;
 width: 100%;
 height: 100%;
 z-index: 900;
 display: block;
}

.featured-price { font-size: 14px; font-weight: bold; }
.htc-description { font-weight: normal; font-size: 12px; margin-left: 3px;}

.productListTable {
  padding: 5px;
  font-size: 11px;
  line-height: 1.5;
}

.productListTable tr.alt td {
  background-color: #ecf6fc;
}

.fieldKey {
  font-size: 11px;
  font-weight: bold;
  line-height: 1.5;
  width: 150px;
}

.fieldValue {
  font-size: 11px;
  line-height: 1.5;
}

h1 {
  font-size: 24px;
  color: #6b6b6b;
  margin-bottom: 0;
  padding-bottom: 5px;
}

img {
  border: 0;
}

table, p {
  font-size: 11px;
  line-height: 1.5;
}

#piGal { float: left; margin-top: 0px; position: relative;}

#piGal .outer ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  height: 20px;
}
#piGal div.outer ul li a {padding-bottom: 27px; z-index: 999; position: relative;}
#piGal ul li {width: 250px; text-align: center; padding: 5px; margin: 0; border: 1px solid #ccc; height: 150px;}

#piGal ul li img { width: 250px; height: 150px; }
#piGal ul.thumbs {
 margin-top: 40px;
 padding-left: 3px;
}
#piGal ul.thumbs li { float: left; width: 40px; margin: 5px 10px 5px 0; border: 1px solid #ccc; padding: 0; }
#piGal ul.thumbs li img {vertical-align: middle; }
#piGal img {
  height: auto;
}
#zoom { position: absolute; top: 165px; left: 20px; z-index: 5; display: block; }
#piGal .outer {
 /*  margin-left: -30px; */
}

.buttonSet {
  clear: both;
}

.buttonAction {
  float: right;
}

.boxText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }

A {
  color: #000000;
  text-decoration: none;
}

A:hover {
  text-decoration: underline;
}

FORM {
    display: inline;
}

TR.header {
  background: #ffffff;
}

TR.headerNavigation {
  background: #bbc3d3;
}

TD.headerNavigation {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  background: #bbc3d3;
  color: #ffffff;
  font-weight : bold;
}

A.headerNavigation {
  color: #FFFFFF;
}

A.headerNavigation:hover {
  color: #ffffff;
}

TR.headerError {
  background: #ff0000;
}

TD.headerError {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #ff0000;
  color: #ffffff;
  font-weight : bold;
  text-align : center;
}

TR.headerInfo {
  background: #00ff00;
}

TD.headerInfo {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  background: #00ff00;
  color: #ffffff;
  font-weight: bold;
  text-align: center;
}


.infoBox {
  background: #b6b7cb;
}

.infoBoxNotice {
  background: #FF8E90;
}

.infoBoxNoticeContents {
  background: #FFE6E6;
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TD.infoBoxHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  font-weight: bold;
  background: #bbc3d3;
  color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
  background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
  background: #f8f8f9;
}

TABLE.productListing {
  border: 1px;
  border-style: solid;
  border-color: #b6b7cb;
  border-spacing: 1px;
}

.productListingHeader {
  table-layout: fixed;
  color: #FFFFFF;
  font-weight: bold;
}

.productListingHeader A:hover {
  color: #FFFFFF;
}

.productListingData {
  table-layout: fixed;
}

A.pageResults {
  color: #0000FF;
}

A.pageResults:hover {
  color: #0000FF;
  background-color: #FFFF33;
}

TD.pageHeading, DIV.pageHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #9a9a9a;
}

TR.subBar {
  background: #f4f7fd;
}

TD.subBar {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #000000;
}

TD.main, P.main {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
  line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText, DIV.smallText {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #747474;
}

TD.accountCategory {
  font-family: Verdana, Arial, sans-serif;
  font-size: 13px;
  color: #aabbdd;
}

TD.tableHeading {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.newItemInCart {
  font-family: Verdana, Arial, sans-serif;
  font-size: 10px;
  color: #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT {
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

TEXTAREA {
  width: 100%;
  font-family: Verdana, Arial, sans-serif;
  font-size: 11px;
}

SPAN.greetUser {
  font-family: Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #f0a480;
  font-weight: bold;
}

TABLE.formArea {
  background: #f1f9fe;
  border-color: #7b9ebd;
  border-style: solid;
  border-width: 1px;
}

TD.formAreaTitle {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
}

SPAN.markProductOutOfStock {
  font-family: Tahoma, Verdana, Arial, sans-serif;
  font-size: 12px;
  color: #c76170;
  font-weight: bold;
}

SPAN.productSpecialPrice {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

SPAN.errorText {
  font-family: Verdana, Arial, sans-serif;
  color: #ff0000;
}

.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }

.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #000000; }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */

.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

/* buttons */

.tdbLink a { }

.tdbLink button { }

/* account link list */

.accountLinkList {
  list-style-type: none;
  margin: 2px 2px 2px 10px;
  padding: 5px;
}

.accountLinkListEntry {
  float: left;
  margin-right: 5px;
}
.content-box { background: #f0f0f0; border-radius: 6px; }
#product-info {width: 690px; padding-top: 0; float: right;}
.product-info-name h1 { clear: right; font-size: 16px; margin: 0 0 10px 5px; }
.star-reviews { font-size: 10px; margin: 0 10px;}
.star-reviews img { vertical-align: bottom; margin-bottom: 1px;}
.not-rated { color: #a1a1a1; }
#product-info-options {margin-left: 5px; }
#product-info-price { padding: 5px 0 5px 5px; height: 70px; position: relative;
 font-size: 22px;
 font-weight: bold;
 color: #5c5353;
 }
#product-info-status { font-size: 10px}
#product-info-buy {
 position: absolute;
 top: 5px;
 right: 8px;
 text-align: center;
}
#Btn_add-to-cart {
 border: 0; width: 250px; height: 45px; display: block;
 margin-bottom: 5px;
 text-indent: -9999px;
 background: url(images/layout/add-to-cart.png) no-repeat;
}
#Btn_add-to-cart:hover {
 background-position: 0 -45px;
 cursor: pointer;
}

#product-info-tabs { margin: 25px 0; border: 0; background: white; padding: 0;}
#product-info-tabs .ui-tabs-panel { padding: 10px 0px; }
#product-info-tabs .ui-tabs-nav { background: transparent; border-width: 0 0 2px 0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-color: #f1f1f1; padding: 0 0 5px 0;}
#product-info-tabs .ui-tabs-nav li {
 border: 0;
 height: auto;
 border-radius: 4px;
 -moz-border-radius: 4px;
 -webkit-border-radius: 4px;
 padding: 0px 5px;
 margin-right: 10px;
 background: #f1f1f1;
}
#product-info-tabs .ui-tabs-nav li a{ color: #aaa; font-weight: bold; font-size: 14px;}
#product-info-tabs .ui-tabs-nav li.ui-tabs-selected a{ color: #777; }

/*----- Shopping Cart --------*/
#cart-header {
 background: url(images/layout/easy-safe-fast.png) no-repeat 50% 0;
 text-indent: -99999px;
 height: 42px;
}
#cart-table {}
#cart-table h2 { background: none; text-align: left; margin: 0; padding: 0; color: #7e7e7e; }
#cart-table th {border-bottom: 2px solid #f1f1f1;padding: 0; color: #7e7e7e; text-align: right;}
#cart-table td {padding: 10px 5px; vertical-align: top; }
.cart-table-product { font-size: 14px; color: #666 }
.cart-table-attributes { color: #999; font-size: 10px; font-style: italic;}
a.cart-table-remove {
 color: darkblue;
 font-size: 13px;
 text-decoration: underline;
}
.cart-table-image { padding: 0 10px 0 0; }
.cart-table-price { font-weight: bold; text-align: right; width: 65px;}
.cart-table-qty { padding-left: 20px; text-align: center;}
.cart-table-qty input {border: 1px solid #ccc; padding: 2px 4px; text-align: center}
.btn-continue {
 display: block;
 background: url(images/layout/cart-buttons.png) no-repeat 0 -65px;
 width: 157px;
 height: 32px;
 text-indent: -99999px;
}
.btn-continue:hover { background-position: 0 -97px; }
.btn-checkout {
 display: block;
 background: url(images/layout/cart-buttons.png) no-repeat;
 width: 157px;
 height: 32px;
 text-indent: -99999px;
}
.btn-checkout:hover { background-position: 0 -34px; }
.btn-update {
 border: 0;
 display: block;
 background: url(images/layout/button-update-cart.png) no-repeat;
 width: 136px;
 height: 32px;
 text-indent: -99999px;
}
.btn-update:hover {  background: url(images/layout/button-update-cart-over.png) no-repeat;}

#rotator-wrap {background: url(images/layout/motorfiend-sprites.png) no-repeat 50% 154px; padding-bottom: 20px;}
#rotator-nav {width: 66px;margin: 0 auto;clear: both;}
#rotator-nav #prev { float: left; display: block; text-indent: -9999px; background: url(images/layout/motorfiend-sprites.png) no-repeat -73px -20px; height: 15px; width: 15px;}
#rotator-nav #prev:hover { background-position: 0px -20px;}
#rotator-nav #next { float: right; display: block; text-indent: -9999px; background: url(images/layout/motorfiend-sprites.png) no-repeat -59px -20px; height: 15px; width: 15px;}
#rotator-nav #next:hover { background-position: -132px -20px;}
#rotator-nav ul { list-style: none; padding: 0; margin: 0 auto; width: 36px;}
#rotator-nav ul li { display: block; float: left;padding: 0; margin: 0;}
#rotator-nav ul#nav li a {display:block; width: 12px; height: 15px; background: url(images/layout/motorfiend-sprites.png) no-repeat -26px -20px; text-indent: -9999px; }
#rotator-nav ul#nav li.activeSlide a { background-position: -14px -20px;}
#rotator-nav a:focus { outline: none; }


/*============= PRODUCT LISTING ===========*/
.product-listing-item { float: left; width: 157px; margin-right: 44px; text-align: center; }
.product-listing-item-col-last { float: left; width: 157px; margin-right: 0px; text-align: center; }
.product-listing-clear { clear: both; }

.product-listing-pagination { color: #434343; background: #f7f7f7; text-align: right; padding-right: 5px; border-radius: 4px; -moz-border-radius: 4px;-webkit-border-radius: 4px;}
.product-listing-pagination-pages { border-left: 1px solid #ddd; padding-left: 5px; margin-left: 5px; color: #f89904;}
.product-listing-pagination-page strong { color: #f89904; }
.product-listing-pagination a.pageResults { color: #434343}
.product-listing-pagination a.pageResults:hover { background-color: #f7f7f7 }
a.pageResultsFirst, a.pageResultsPrev, a.pageResultsNext, a.pageResultsLast {
  display:-moz-inline-stack;
  display:inline-block;
  zoom:1;
  *display:inline;
  width: 10px;
  height: 10px;
  background: url(images/layout/motorfiend-sprites.png) no-repeat -28px -199px;
  position: relative;
  top: 0;
  left: 0;
  vertical-align: middle;
}
a.pageResultsPrev { background-position: -41px -199px; width: 6px;}
a.pageResultsNext { background-position: -48px -199px; width: 6px;}
a.pageResultsLast { background-position: -56px -199px }
a.pageResultsFirst span, a.pageResultsPrev span, a.pageResultsNext span, a.pageResultsLast span { display: none;}


.social-stuff {
 float: right;
 border: 1px solid #e7e7e7;
 padding: 5px 5px;
 border-radius: 6px;
}

