/*
  $Id$

  osCommerce, Open Source E-Commerce Solutions
  http://www.oscommerce.com

  Copyright (c) 2010 osCommerce

  Released under the GNU General Public License
*/

.ui-widget {
    font-family: Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
    font-size: 11px;
}
.clear {
    clear: both;
}
* .clear:after {
    /*content: '.';*/
    text-indent: -99999px;
}
body {
    background: white;
    color: #666;
    margin: 0px;
    font-size: 11px;
    font-family: Arial, Lucida Grande, Lucida Sans, Verdana, Arial, sans-serif;
}

.motored { color: #c11e24; }
.motogreen { color: #159c0a; }
.motogrey { color: #828181; }
.greyBar {   background: url(images/layout/body-header.png) no-repeat; height: 33px; line-height: 33px; padding-left: 10px }
h1.greyBar { font-size: 14px; }
.shadow-box {background: url(images/layout/motorfiend-sprites.png) no-repeat 50% 0px; width: 100%; height: 20px;}

/*#fullwrap { min-width: 1249px; }*/
#mainWrapper {
    margin: 0 auto;
    /*background: url(images/layout/main-back.png) repeat-y;
     width:1149px;*/
}
#bodyWrapper {
    width: 975px;
    margin: 0 auto;
    position: relative;
}

#bodyContent {
    float: right;
    width: 100%;
}
#bodyContent.push_4 {
    width: 760px;
}

#header {
    height: 52px;
}

#storeLogo a{
    float: left;
    margin-top: 12px;
    display: block;
    background-image: url("images/store_logo.png");
    background-repeat: no-repeat;
    width: 211px;
    height: 41px;
    text-indent: -99999px;
}


#headerShortcuts {
    background: #f7f7f7;
    color: #909090;
    margin: 0px;
    border-bottom: 1px solid #efefef;
    height: 28px;
}
.headerShortcutsLeft {
    float: left;
    height: 28px;
    line-height: 28px;
    padding: 0 20px;
    border-right: 1px solid #efefef;
    color: #909090;
    font-size: 11px;
}
#header-shipping { background: url(images/layout/free-shipping-plane.png) no-repeat 16px 5px; padding-left: 38px }
#header-support {padding: 2px 20px 0 0px; height: 26px; margin: 0;}
#headerShortcutsRight {
    float: right;
}
#headerShortcutsRight a{
    color: #909090;
    font-size: 11px;
    text-decoration: none;
    padding: 0 3px;
    line-height: 28px;
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0 10px;
    border-left: 1px solid #efefef;
}
ul#header-currencies{
    color: #909090;
    font-size: 11px;
    text-decoration: none;
    padding: 0 3px;
    line-height: 28px;
    display: block;
    float: right;
    list-style: none;
    margin: 0;
    border-left: 1px solid #efefef;
}
ul#header-currencies a{
    padding-right: 0px;
    padding-left: 10px;
}
#headerShortcutsRight a:hover {
    color: #c11e24;
}
#header-currencies li span { color: black; font-weight: bold; }
#header-currencies li {position:relative;
                       display: block;}
#header-currencies li a {border-left: none;}
#header-currencies li ul {display: none;position:absolute; right: -10px; top: 28px; background: #f7f7f7; z-index: 900; padding: 0; margin: 0;min-width: 134px;}
#header-currencies li:hover ul {display: block; }
#header-currencies li ul li {padding: 0;margin:0; width: 65px; float: left; background-repeat: no-repeat; background-position: 5px 3px;}
#header-currencies li ul li a {display: block; border-bottom: 1px solid #efefef; float: none; text-align: left;  padding: 3px 0 3px 25px; line-height: 16px;}

#headerCart {
    clear: right;
    float: right;
    text-align: center;
    color: #474747;
    font-size: 14pt;
    margin: 15px 0px 0 15px;
}
#headerCart a { color: #2e2e2e; text-decoration: none }

#headerCartLinks a {
    font-size: 11px;
    color: #aeaeae;
}
#view-trunk {
    display: block;
    float: right;
    width: 68px;
    height: 35px;
    background: url(images/layout/motorfiend-sprites.png) -399px -148px;
    text-indent: -99999px;
    border-left: 1px solid #f2f2f2;
    padding-left: 10px;
    margin: 3px 0 0 10px;
}
#view-trunk:hover, #headerCart a.view-trunk-hover {
    /* background-position: -501px -148px; */
}

#topMenu {
    clear: both;
    background: url(images/layout/menubar-back.png);
    height: 38px;
}

#topMenu ul {list-style: none; padding: 0; margin-left: 10px;}
#topMenu #welcome { color: #fff;  font-size: 14px; font-weight: bold; margin-right: 75px; padding-left: 15px;}
#topMenu #welcome-vehicle a { color: #fff;  font-size: 12px; margin-right: 50px;}
#topMenu ul li {line-height: 32px; display: block; float: left;}
#topMenu ul li a {font-weight: bold; font-size: 12px; color: #474747 }
#topMenu ul li.topMenu-spacer {
    background: url(images/layout/menubar-spacer.png) no-repeat 50% 0%;
    width: 30px;
    height: 32px;
}

#breadcrumb { color: #525254; margin: 5px 0 0px 1px; font-size: 12px; height: 20px }
.breadcrumb-content {background: #eeeeee; padding: 0 5px;}
#breadcrumb a {color: #525254; text-decoration: none;}

.breadcrumb-item span  {display: block; float: left; height: 19px; line-height: 19px;}
#breadcrumb-home a .breadcrumb-content {
    background: #eee url(images/layout/motorfiend-sprites.png) no-repeat -308px -157px;
    text-indent: -99999px;
    width: 20px;
    padding: 0;
}
.breadcrumb-right {
    width: 11px;
    background: url(images/layout/motorfiend-sprites.png) no-repeat -329px -157px;
}
.breadcrumb-left {
    width: 12px;
    background: url(images/layout/motorfiend-sprites.png) no-repeat -341px -157px;
    margin-left: -5px;
}

#breadcrumb a:hover .breadcrumb-content {background-color: #ccc;}
#breadcrumb-home a:hover .breadcrumb-content { background-position: -353px -157px}
#breadcrumb a:hover .breadcrumb-right {background-position: -374px -157px; }
#breadcrumb a:hover .breadcrumb-left {background-position: -387px -157px; }

#columnLeft {
    padding-top: 10px;
    width: 215px;
}

.box-live-support a {
    display: block;
    width: 200px;
    height: 32px;
    background: url(images/layout/live-support.png) no-repeat;
    text-indent: -9999px;
    margin-bottom: 5px;
}
/*
#categoryBoxContainer ul.menu a {
 color: #7d7d7d;
 text-decoration: none;
}
#categoryBoxContainer ul li a {
 display: block;
 width: 197px;
 line-height: 30px;
 height: 30px;
 padding-left: 10px;
 background: url(images/layout/sidebar-head.png) no-repeat;
}
#categoryBoxContainer ul li ul a {
 background: transparent;
}
#categoryBoxContainer ul li ul { background: #f1f1f1; width: 162px; margin: 5px 0 0 3px}
#categoryBoxContainer ul.menu {
 padding: 0;
 margin: 0 0 0 1px;
 list-style: none;
 font-size: 12px;
 font-weight: bold;
}
#categoryBoxContainer ul.menu li {
 margin-bottom: 5px;
}
#categoryBoxContainer ul.menu li.current a {
 color: #B41D23;
}
#categoryBoxContainer ul.menu ul {
 list-style: none;
 padding: 2px 15px;
 font-weight: normal;
}
#categoryBoxContainer ul.menu li ul li {
 margin-bottom: 0;
}
#categoryBoxContainer ul.menu li ul ul {
 padding: 0 0 0 10px;
 margin: 0;
}
#categoryBoxContainer ul.menu li ul ul li.cat_lev_2 a {
 padding: 0;
 margin-left: 10px;
 width: auto;
}

#categoryBoxContainer ul.menu li.current ul a {
 color: #7d7d7d;
}*/
.page-banner { margin: 15px auto; }

.enteremail {
    position: relative;
    background-image: url(images/layout/enteremail.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 23px;
    width: 484px;
    display: block;
    float:left;
    left: 50%;
    margin-left: -1003px;
    margin-top: 17px;
}



.arrows {
    position: relative;
    background: url(images/layout/motorfiend-sprites.png) 0 -148px;
    background-repeat: no-repeat;
    width: 105px;
    height: 42px;
    float:left;
    left:50%;
    margin-left: -515px;
    margin-top: 6px;
}

#body-bottom {
    width: 100%;
    height: 33px;
    background: url(images/layout/body-bottom.png) 50% 0;
    background-repeat: no-repeat;
}
.footer {padding-bottom: 15px; color: #7d7d7d }
#footer_signup {
    /*background: url(images/layout/motorfiend-sprites.png) 0 -93px;*/
    background: url(images/layout/footer_bg.png);
    height: 55px;
    margin: 10px auto 10px auto;
    position: relative;
}
#footer_signup form { position: relative;
                      float: left;
                      left: 50%;
                      width: 400px;
                      margin-left: 134px;
                      margin-top: 13px; }
#footer_signup form input {border-radius: 3px; border: 1px solid #ccc; padding: 2px 5px; color: #666; font-size: 12px; font-style: italic; height: 21px;margin-right: 7px; width: 230px}
#footer_signup span {
    position: relative;
    left: 50%;
    color: #707070;
    width: 588px;
    margin-left: -500px;
    margin-top: 3px;
    line-height: 42px;
    font-size: 20px;
    font-weight: bold;
    font-style: italic;
    padding-right: 119px;
    background: url(images/layout/motorfiend-sprites.png) 602px -150px no-repeat;
    display: block;
    height: 41px;
    float: left;}
#footer-signup-submit {
    background: url(images/layout/motorfiend-sprites.png) no-repeat -110px -153px;
    text-indent: -9999px;
    width: 96px;
    height: 28px;
    border-radius: none;
    border: none;
    margin-top: 0px;
    margin-right:55px;
    float: right;
    display:block;
}

#footer-signup-submit:Hover {
    background: url(images/layout/motorfiend-sprites.png) no-repeat -208px -153px;
}

#footer-menu {
    width: 920px;
    margin: 0 auto ;
}
#footer-menu ul {
    float: left;
    padding: 0;
    margin: 0 0px 0 0;
    width: 190px;
    list-style: none;
    color: #7d7d7d;
    font-size: 17px;
}
ul#footer-menu-1 { width: 140px;}
ul#footer-menu-2 { width: 192px;}
ul#footer-menu-3 { width: 165px;}
ul#footer-menu-4 { width: 165px;}


#footer-menu ul li { text-align: left; }
.footer-menu-head { text-indent: -9999px; margin-bottom: 5px;}
#footer-head-1 {
    background: url(images/layout/motorfiend-sprites.png) -0px -242px no-repeat;
    width: 125px;
}
#footer-head-2 {
    background: url(images/layout/motorfiend-sprites.png) -135px -242px no-repeat;
    width: 165px;
}
#footer-head-3 {
    background: url(images/layout/motorfiend-sprites.png) -320px -242px no-repeat;
    width: 105px;
}
#footer-head-4 {
    background: url(images/layout/motorfiend-sprites.png) -443px -242px no-repeat;
    width: 125px;
}
#footer-head-5 {
    background: url(images/layout/motorfiend-sprites.png) -605px -242px no-repeat;
    width: 125px;
}

#footer-menu ul a {
    color: #7d7d7d;
    text-decoration: none;
    font-size: 12px;
}
#footer-menu ul li.footer-social {
    width: 330px;
    font-size: 12px; font-weight: normal;
    height: 25px;
    margin-top: -1px;
    padding: 4px;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-align: left;
}

#gplus-text {
    position: relative;
    z-index: 9000;
    top: -8px;
    left: -25px;
    font-size: 11px;
}

#bottom-icons { clear: both; width: 886px; margin: 25px auto 15px auto; text-align: center;}
.infoBoxContainer { }

.infoBoxHeading {
    padding: 2px;
    font-size: 11px;
}

.infoBoxContents {
    padding: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.contentContainer {
    padding-bottom: 10px;
    margin-top: 10px;
}

.contentContainer h2 {
    color: #5c5353;
    font-size: 14px;
    margin-bottom: 0;
    padding-left: 8px;
    padding-bottom: 5px;
    background: url(images/layout/body-header.png) no-repeat;
    height: 33px;
    line-height: 33px;
}


.contentText, .contentText table {
    padding: 5px 0 5px 0;
    font-size: 11px;
    line-height: 1.5;
}

#featured-products {
    /*
     height: 25px;
     background: url(images/layout/motorfiend-sprites.png) 0 -35px no-repeat;
     margin-bottom: 10px;
     position: relative;
    */
}
#welcome-heading {
    height: 40px;
    /*background: url(images/layout/motorfiend-sprites.png) 0 -66px no-repeat;*/
    background: url(images/layout/welcome_header.png) no-repeat;
    margin-bottom: 10px;
    margin-top: 40px;
    position: relative;
}
#welcome-text-bottom {
    background: url(images/layout/motorfiend-sprites.png) no-repeat 50% 0px;
    height: 20px;
}
.hot-categories {
    /*background: url(images/layout/motorfiend-sprites.png) 0px -210px no-repeat;*/
    background: url(images/layout/top_categories_header.png) no-repeat;
    width: 209px;
    height: 25px;
    text-indent: -99999px;
    margin-bottom: 10px;
}
.new-products {
    background: url(images/layout/new_product_header.png) no-repeat;
    width: 180px;
    height: 25px;
    text-indent: -99999px;
    margin-bottom: 10px;
    margin-top: 35px;
}

.blockade {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 900;
    display: block;
}

.featured-price { font-size: 14px; font-weight: bold; }
.htc-description { font-weight: normal; font-size: 12px; margin-left: 3px;}

.productListTable {
    padding: 5px;
    font-size: 11px;
    line-height: 1.5;
}

.productListTable tr.alt td {
    background-color: #ecf6fc;
}

.fieldKey {
    font-size: 11px;
    font-weight: bold;
    line-height: 1.5;
    width: 150px;
}

.fieldValue {
    font-size: 11px;
    line-height: 1.5;
}

h1 {
    font-size: 24px;
    color: #6b6b6b;
    margin-bottom: 0;
    padding-bottom: 5px;
}

img {
    border: 0;
}

table, p {
    font-size: 11px;
    line-height: 1.5;
}

#piGal { float: left; margin-top: 0px; position: relative;margin-left: 2px;}

#piGal .outer ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 20px;
}
#piGal div.outer ul li a {padding-bottom: 27px; z-index: 999; position: relative;}
#piGal ul li {width: 250px; text-align: center; padding: 5px; margin: 0; border: 1px solid #e7e7e7; height: 250px;}

#piGal ul li img { width: 250px; height: 250px; }
#piGal ul.thumbs {
    margin-top: 40px;
    padding-left: 3px;
}
#piGal ul.thumbs li { float: left; width: 45px; margin: 5px 3px 5px 0; border: 1px solid #ccc; padding: 0; }
#piGal ul.thumbs li img {vertical-align: middle; }
#piGal img {
    height: auto;
}
#zoom { position: absolute; top: 275px; left: 20px; z-index: 5; display: block; }
#piGal .outer {
    /*  margin-left: -30px; */
}

.buttonSet {
    clear: both;
}

.buttonAction {
    float: right;
}

.boxText { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.errorBox { font-family : Verdana, Arial, sans-serif; font-size : 10px; background: #ffb3b5; font-weight: bold; }
.stockWarning { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #cc0033; }
.productsNotifications { background: #f2fff7; }
.orderEdit { font-family : Verdana, Arial, sans-serif; font-size : 10px; color: #70d250; text-decoration: underline; }

A {
    color: #000000;
    text-decoration: none;
    outline: none;
}

A:hover {
    text-decoration: underline;
    outline: none;
}

FORM {
    display: inline;
}

TR.header {
    background: #ffffff;
}

TR.headerNavigation {
    background: #bbc3d3;
}

TD.headerNavigation {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    background: #bbc3d3;
    color: #ffffff;
    font-weight : bold;
}

A.headerNavigation {
    color: #FFFFFF;
}

A.headerNavigation:hover {
    color: #ffffff;
}

TR.headerError {
    background: #ff0000;
}

TD.headerError {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #ff0000;
    color: #ffffff;
    font-weight : bold;
    text-align : center;
}

TR.headerInfo {
    background: #00ff00;
}

TD.headerInfo {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    background: #00ff00;
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}


.infoBox {
    background: #b6b7cb;
}

.infoBoxNotice {
    background: #FF8E90;
}

.infoBoxNoticeContents {
    background: #FFE6E6;
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

TD.infoBoxHeading {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    font-weight: bold;
    background: #bbc3d3;
    color: #ffffff;
}

TD.infoBox, SPAN.infoBox {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
}

TR.accountHistory-odd, TR.addressBook-odd, TR.alsoPurchased-odd, TR.payment-odd, TR.productListing-odd, TR.productReviews-odd, TR.upcomingProducts-odd, TR.shippingOptions-odd {
    background: #f8f8f9;
}

TR.accountHistory-even, TR.addressBook-even, TR.alsoPurchased-even, TR.payment-even, TR.productListing-even, TR.productReviews-even, TR.upcomingProducts-even, TR.shippingOptions-even {
    background: #f8f8f9;
}

TABLE.productListing {
    border: 1px;
    border-style: solid;
    border-color: #b6b7cb;
    border-spacing: 1px;
}

.productListingHeader {
    table-layout: fixed;
    color: #FFFFFF;
    font-weight: bold;
}

.productListingHeader A:hover {
    color: #FFFFFF;
}

.productListingData {
    table-layout: fixed;
}

A.pageResults {
    color: #0000FF;
}

A.pageResults:hover {
    color: #0000FF;
    background-color: #FFFF33;
}

TD.pageHeading, DIV.pageHeading {
    font-family: Verdana, Arial, sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #9a9a9a;
}

TR.subBar {
    background: #f4f7fd;
}

TD.subBar {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #000000;
}

TD.main, P.main {
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
}

TD.smallText, SPAN.smallText, P.smallText, DIV.smallText {
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    color: #747474;
}

TD.accountCategory {
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    color: #aabbdd;
}

TD.tableHeading {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

SPAN.newItemInCart {
    font-family: Verdana, Arial, sans-serif;
    font-size: 10px;
    color: #ff0000;
}

CHECKBOX, INPUT, RADIO, SELECT {
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
}

TEXTAREA {
    width: 100%;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
}

SPAN.greetUser {
    font-family: Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #f0a480;
    font-weight: bold;
}

TABLE.formArea {
    background: #f1f9fe;
    border-color: #7b9ebd;
    border-style: solid;
    border-width: 1px;
}

TD.formAreaTitle {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

SPAN.markProductOutOfStock {
    font-family: Tahoma, Verdana, Arial, sans-serif;
    font-size: 12px;
    color: #c76170;
    font-weight: bold;
}

SPAN.productSpecialPrice {
    font-family: Verdana, Arial, sans-serif;
    color: #ff0000;
}

SPAN.errorText {
    font-family: Verdana, Arial, sans-serif;
    color: #ff0000;
}

.moduleRow { }
.moduleRowOver { background-color: #D7E9F7; cursor: pointer; cursor: hand; }
.moduleRowSelected { background-color: #E9F4FC; }

.checkoutBarFrom, .checkoutBarTo { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #8c8c8c; }
.checkoutBarCurrent { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

/* message box */

.messageBox { font-family: Verdana, Arial, sans-serif; font-size: 10px; }
.messageStackError, .messageStackWarning { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #ffb3b5; }
.messageStackSuccess { font-family: Verdana, Arial, sans-serif; font-size: 10px; background-color: #99ff00; }

/* input requirement */

.inputRequirement { font-family: Verdana, Arial, sans-serif; font-size: 10px; color: #ff0000; }

/* buttons */

.tdbLink a { }

.tdbLink button { }

/* account link list */

.accountLinkList {
    list-style-type: none;
    margin: 2px 2px 2px 10px;
    padding: 5px;
}

.accountLinkListEntry {
    float: left;
    margin-right: 5px;
}
.content-box { background: #f0f0f0; border-radius: 6px;border: 1px solid #d2d2d2; }
#product-info {width: 595px; padding-top: 0; float: left;}
.product-info-name { clear: right; font-size: 20px; margin: 0 0 5px 5px; color: #000000; font-weight: bold; }
.product-info-name span {font-weight: normal;}
.star-reviews { font-size: 11px; margin: 0 15px 0 -3px;}
.star-reviews img { vertical-align: bottom; margin-bottom: 1px;}
.not-rated { color: #a1a1a1; }
#product-info-options {margin-left: 5px; }
#product-info-social {
    margin: 0 0 15px 5px;
}
#product-info-social span, #product-info-social iframe, #product-info-social a { vertical-align: top;}
.fb-like{border-right: 1px solid #e7e7e7; position: relative; top: 0px; width: 82px; height: 18px;  display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;}
.pi_twitter{
    border-right: 1px solid #e7e7e7;
    width: 89px; 
    height: 18px;
    display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;
    position: relative; top: 0px;
    padding-left:7px;
}
.pi_pinit{
    padding-left: 7px;
    height: 18px;
    border-right: 1px solid #e7e7e7;
    display:-moz-inline-stack; display:inline-block; zoom:1; *display:inline;
    position: relative; top: 0px;
    width: 75px;
}
.st_plusone_hcount{
    padding-left: 7px;
    height: 18px;
}
#product-options-qty { font-weight: bold; font-size: 1.2em; margin-left: 5px;}
#product-info-price { padding: 5px 0 5px 7px; height: 70px; position: relative;
                      font-size: 36px;
                      color: #595959;
                      background: #f3f3f3;
}
#product-info-price span.price { color: #a9241b; }
#product-info-status { font-size: 12px; margin-top: -6px;}
#product-info-buy {
    position: absolute;
    top: 5px;
    right: 8px;
    text-align: right;
}
#product-info-buy img {margin-right: 5px }
#Btn_add-to-cart {
    border: 0; width: 250px; height: 45px; display: block;
    text-indent: -9999px;
    background: url(images/layout/add-to-cart.png) no-repeat;
}
#Btn_add-to-cart:hover {
    background-position: 0 -47px;
    cursor: pointer;
}

#product-info-tabs { margin: 25px 0; border: 0; background: white; padding: 0;}
#product-info-tabs .ui-tabs-panel { padding: 10px 0px; }
#product-info-tabs .ui-tabs-nav { background: transparent; border-width: 0 0 2px 0; border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0; border-color: #f1f1f1; padding: 0 0 5px 0;}
#product-info-tabs .ui-tabs-nav li {
    border: 0;
    height: auto;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 0px 0px 10px 5px;
    margin-right: 0px;
    background: transparent;
}
#product-info-tabs .ui-tabs-nav li a{ 
    color: #aaa; 
    font-weight: bold; 
    font-size: 11px;
    display: block; 
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    height: 40px;
    padding-top: 14px;
}
/*#product-info-tabs .ui-tabs-nav li.ui-tabs-selected { background: url(images/layout/product-tab-pointer.png) no-repeat bottom center;}*/
#product-info-tabs .ui-tabs-nav li.ui-tabs-selected a{ color: red;}

#reviews-win {
    width: 580px;
    height: 100px;
    background: url(images/layout/win-an-ipad2-bg.jpg) no-repeat;
    position: relative;
}
#reviews-win p { position: absolute; left: 300px; top: 32px; font-size: 12px; font-family: Arial; font-weight: bold; line-height: 1.7em;}
#reviews-win p a { color: #2e9ee5; text-decoration: none }

#product-info-write-review {
    margin: 15px auto;
    color: #d4d4d4;
    font-size: 16px;
    text-align: center;
}
#product-info-write-review span.star-reviews { color: #d4d4d4; font-size: 12px; }
#product-info-write-review a {  color: #d4d4d4;}
#product-info-write-review .avg {font-weight: bold; font-size: 16px}
#product-info-write-review img { position: relative; top: -3px }
#product-info-write-review a#btn-reviews-write {
    width: 170px;
    height: 39px;
    background: url(images/layout/write-review.png) -2px -1px;
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    position: relative;
    top: 15px;
}
#product-info-write-review a#btn-reviews-write:hover {
    background-position: -2px -42px;
}

.reviews-tab-review-info { border-right: 1px solid #ccc; white-space: nowrap; padding-right: 10px; font-size: 12px;}
.reviews-tab-review-info h2 { background: none; padding: 0; margin: 0; margin-bottom: 0; line-height: 1.4em; height: auto;}
.reviews-tab-review-info img { vertical-align: top; position:relative; left: -3px; top: -1px }
.reviews-tab-review-review .contentText { padding: 0 40px; }
.review-tab-lquote { background: url(images/layout/lquote.png) no-repeat; height: 24px; }
.review-tab-rquote { background: url(images/layout/rquote.png) no-repeat bottom right; height: 24px; }
.reviews-tab-review th {border-bottom: 1px solid #d4d4d4}
.product-info-pagination-reviews {display: block; text-align: right; border-top: 1px solid #dddddd;padding-top: 3px;}
.product-info-pagination-reviews a { border: 1px solid #dddddd; color: black; padding: 2px 4px;}
.product-info-pagination-reviews strong { border: 1px solid #dddddd; color: black; padding: 2px 4px;}
.product-info-pagination-reviews a.pageResultsFirst,
.product-info-pagination-reviews a.pageResultsPrev,
.product-info-pagination-reviews a.pageResultsNext,
.product-info-pagination-reviews a.pageResultsLast
{ display:none;}



.text-no-reviews {
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    margin: 10px 50px;
}
.text-no-reviews a { color: #c11e24; font-weight: normal;}


h3.module-heading {
    font-weight: bold;
    font-size: 16px;
}


/*----- Shopping Cart --------*/
#cart-header {
    background: url(images/layout/easy-safe-fast.png) no-repeat 50% 0;
    text-indent: -99999px;
    height: 42px;
}
#cart-table {}
#cart-table h2 { background: none; text-align: left; margin: 0; padding: 0; color: #565656; font-size: 18px; font-weight: normal;}
#cart-table th {border-bottom: 2px solid #f1f1f1;padding: 0; color: #565656; text-align: right; font-size: 14px;}
#cart-table td {padding: 10px 5px; vertical-align: top; font-size: 14px; color: #565656; }
.cart-table-product { font-size: 14px; color: #565656 ;float: left;max-width: 475px;}
.cart-table-attributes { color: #999; font-size: 10px; font-style: italic;}
a.cart-table-remove {
    /*color: #d4d4d4;
    font-size: 12px;
    text-decoration: underline;*/
    background: url(images/layout/remove_btn.png) no-repeat;
    text-indent: -99999px;
    display: block;
    width: 26px;
    height:26px;
    float: left;
    margin-left: 10px;
    margin-top: -3px;
}
a:hover.cart-table-remove {
    /*color: #d4d4d4;
    font-size: 12px;
    text-decoration: underline;*/
    background: url(images/layout/remove_hover_btn.png) no-repeat;
    text-indent: -99999px;
    display: block;
    width: 26px;
    height:26px;
    float: left;
    margin-left: 10px;
    margin-top: -3px;
}
.cart-table-image { padding: 0 10px 0 0; }
.cart-table-price { text-align: right; width: 65px;}
.cart-table-qty { padding-left: 20px; text-align: center;}
.cart-table-qty input {border: 1px solid #ccc; padding: 2px 4px; text-align: center}
#shopping-cart-subtotal {
    background: #f2f2f2;
    border-top: 1px solid #e2e2e2;
    padding: 5px 5px 4px 0;
    font-size: 14px;
}
.btn-continue {
    display: block;
    background: url(images/layout/countinue_btn.png) no-repeat;
    width: 164px;
    height: 36px;
    text-indent: -99999px;
}
.btn-continue:hover { 
    /*background-position: 0 -97px; */
}
.btn-checkout {
    display: block;
    background: url(images/layout/checkout_btn.png) no-repeat;
    width: 149px;
    height: 36px;
    text-indent: -99999px;
}
.btn-checkout:hover { 
    /*background-position: 0 -34px; */
}
.btn-update {
    border: 0;
    display: block;
    background: url(images/layout/update_cart_btn.png) no-repeat;
    width: 158px;
    height: 36px;
    text-indent: -99999px;
    opacity: 1;
}
.btn-update:hover {  
    /*background: url(images/layout/button-update-cart-over.png) no-repeat;*/
}
.btn-coupon{
    border: 0;
    display: block;
    background: url(images/layout/coupon_btn.png) no-repeat;
    width: 152px;
    height: 36px;
    text-indent: -99999px;
    margin-left: -4px;
}
#input_coupon{
    background: url(images/layout/coupon_input.png) no-repeat;
    width: 194px;
    height: 34px;
}
#input_coupon input.input_coupon1{
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    font: 12px Arial,Tahoma,sans-serif;
    padding-top: 6px;
    padding-left: 10px;
    padding-bottom: 4px;
    position: relative;
    width: 180px;
    color: #aeaeae;
    font-style: italic;
    margin-left: 2px;
    margin-top: 6px;
    font-weight: bold;
}

#rotator-wrap {background: url(images/layout/motorfiend-sprites.png) no-repeat 50% 154px; padding-bottom: 20px;}
#rotator-nav {margin: 0 auto;clear: both;}
#rotator-nav #prev { float: left; display: block; text-indent: -9999px; background: url(images/layout/motorfiend-sprites.png) no-repeat -73px -20px; height: 15px; width: 15px;}
#rotator-nav #prev:hover { background-position: 0px -20px;}
#rotator-nav #next { float: right; display: block; text-indent: -9999px; background: url(images/layout/motorfiend-sprites.png) no-repeat -59px -20px; height: 15px; width: 15px;}
#rotator-nav #next:hover { background-position: -132px -20px;}
#rotator-nav ul { list-style: none; padding: 0; margin: 0 auto;}
#rotator-nav ul li { display: block; float: left;padding: 0; margin: 0;}
#rotator-nav ul#nav li a {display:block; width: 12px; height: 15px; background: url(images/layout/motorfiend-sprites.png) no-repeat -26px -20px; text-indent: -9999px; }
#rotator-nav ul#nav li.activeSlide a { background-position: -14px -20px;}
#rotator-nav a:focus { outline: none; }


/*============= PRODUCT LISTING ===========*/
.product-listing-item { float: left; width: 157px; margin-right: 44px; text-align: center; line-height: 1.2em; font-size: 11px; }
.product-listing-shipping span { color: #67b744; background: url(images/layout/free-shipping-truck.png) -4px -1px no-repeat; padding-left: 22px; font-size: 12px; line-height: 20px; }
.product-listing-stars img {vertical-align: middle; }
.product-listing-price { color: #901616; font-size: 16px;font-weight: bold;margin-top: 3px;}
.product-listing-item-col-last { float: left; width: 157px; margin-right: 0px; text-align: center; }
.product-listing-clear { clear: both; }

.product-listing-pagination { color: #434343; background: #f7f7f7; text-align: right; padding-right: 5px; border-radius: 4px; -moz-border-radius: 4px;-webkit-border-radius: 4px;}
.product-listing-pagination-pages { border-left: 1px solid #ddd; padding-left: 5px; margin-left: 5px; color: #f89904;}
.product-listing-pagination-page strong { color: #f89904; }
.product-listing-pagination a.pageResults { color: #434343}
.product-listing-pagination a.pageResults:hover { background-color: #f7f7f7 }
a.pageResultsFirst, a.pageResultsPrev, a.pageResultsNext, a.pageResultsLast {
    display:-moz-inline-stack;
    display:inline-block;
    zoom:1;
    *display:inline;
    width: 10px;
    height: 10px;
    background: url(images/layout/motorfiend-sprites.png) no-repeat -28px -199px;
    position: relative;
    top: 0;
    left: 0;
    vertical-align: middle;
}
a.pageResultsPrev { background-position: -41px -199px; width: 6px;}
a.pageResultsNext { background-position: -48px -199px; width: 6px;}
a.pageResultsLast { background-position: -56px -199px }
a.pageResultsFirst span, a.pageResultsPrev span, a.pageResultsNext span, a.pageResultsLast span { display: none;}


.social-stuff {
    float: right;
    border: 1px solid #e7e7e7;
    padding: 5px 5px;
    border-radius: 6px;
}

/*add by yanglin*/
#indicator{display:none}
.newcheckout{ background:#FFF}
.newcheckout .contentContainer{background:#fff}

.contentContainer .checkout_till{background:none; font-size:16px; height:16px; line-height:16px; padding-bottom:5px; color:#333; border-bottom:1px dotted #ccc}
.contentContainer .left_h2{ background:url(images/layout/sidebar-head.png) no-repeat center;  height:30px; line-height:30px; padding:0; margin:0; padding-left:20px; color:#000}
.newcheckout .fieldKey{font-size:12px; padding:8px 0px; font-weight:normal}
.newcheckout .fieldValue input{border:1px solid #ccc; padding:5px; width:200px}
.newcheckout .fieldValue select{border:1px solid #ccc; padding:5px; width:210px}
.newcheckout .fradio input{width:15px;}

.checkoutstep{height:80px; background:#fff}
.checkoutstep #Logo{ float:left; margin:20px 10px}
.checkoutstep ul{ padding:0; margin:0; margin:0px auto; list-style:none; float:left; margin-top:20px; margin-left:50px;}
.checkoutstep .cstep1{ background:url(images/layout/step.gif) no-repeat 60px top}
.checkoutstep .cstep2{ background:url(images/layout/step.gif) no-repeat 60px -65px}
.checkoutstep .cstep3{ background:url(images/layout/step.gif) no-repeat 60px -125px}
.checkoutstep ul li{float:left; text-align:center; font-size:15px; font-weight:bold; padding:35px 50px 0px 50px;}

#piGal ul.thumbs li.on{
    border: 2px solid red;
}


.search_div_out{
    float: left; 
    margin-top: 4px; 
    background: url('images/bg_search.png') no-repeat; 
    width: 345px; 
    height: 23px;
    padding: 2px 0px 0px 4px;
}

.select_cat_search {
    width: 45px;
    height: 17px;
    margin-right: 0px;
    text-align: left;
    border: 0px;
    font-weight: bold;

}

.styled-select {
    float: left;
    overflow: hidden;
    margin-top: 1px;
}

.search_keyword{
    float: left; 
    height: 20px;
    margin-left: 2px;
}

.search_button{
    float: left;
    margin-left: 10px;
}

.search_input_keyword{
    width: 255px; 
    height: 15px;
    border: 0px;
    margin-top: 1px;
}



.title_payment_cc{
    float: left;
    margin-top: 10px;
    font-weight: normal;
    font-family: Verdana, Arial, sans-serif;
    font-size: 11px;
    line-height: 1.5;
    width: 145px;
    text-align: right;
    margin-right: 5px;
}

div.icon_payment_cc img{
    margin-top: -10px;
}

.title_first {
    text-align: right;
}

.feld_payment input{
    width: 225px;
    height: 20px;    
    float: left;
}

.feld_payment select{
    width: 112px;
    height: 25px;
    padding: 2px;
}

ul.checkout-payment-methods li div {
    margin-top: 0px;
}

ul.checkout-payment-methods li div table tbody tr {
    height: 40px;
}

.ccv_code_img img{
    margin-top: -10px;
}

#cc_cvc_nh-dns{
    width: 55px;
}
#footer_wrap {
    width: 980px;
    margin: 0 auto;
}
#footer_free_shipping {
    position: absolute;
    background-image: url(images/layout/footer_txt.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 23px;
    width: 975px;
    margin-top: 20px;
    margin-left: 7px;
}
.footer_point1 {
    position: absolute;
    background-image: url(images/layout/footer_point.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 6px;
    width: 10px;
    margin-top: 26px;
    margin-left: 316px;
}
.footer_point2 {
    position: absolute;
    background-image: url(images/layout/footer_point.png);
    background-repeat: no-repeat;
    text-indent: -99999px;
    height: 6px;
    width: 10px;
    margin-top: 26px;
    margin-left: 645px;
}
.coupon_msg{
    padding-top: 10px;
}
.contentTextempty{
    text-align: center;
    font-family: Arial,sans-serif;
    color: #111111;
    font-size: 31px;
    padding-top: 15px;
}
.btn_back_sc {
    display: block;
    background: url(images/layout/sc_click_btn.png) no-repeat;
    width: 236px;
    height: 36px;
    text-indent: -99999px;
    text-align: center;
}
#headerShortcuts .round {
    margin: 0 auto;
    width: 975px;
}

.support_wrap{
    text-align: center;
    background: url(images/layout/support_bg.png) no-repeat;
    width: 193px;
    height: 104px;
    margin-left: -3px;
}
.support_txt_head{
    font-family: Times New Roman;
    font-size: 12px;
    color: #676767;
    font-weight: bold;
}
.support_line{
    background: url(images/layout/support_line.png) no-repeat;
    margin-left: 17px;
    height: 5px;
    margin-top: 2px;
}
.support_txt{
    /*font-family: Times New Roman;
    font-size: 26px;
    color: #bd1e24;
    font-weight: bold;*/
    background: url(images/layout/support_phone.png) no-repeat;
    height: 23px;
    margin-left: 7px;
    margin-top: 2px;
}
.support_content{
    /*font-family: Times New Roman;
    font-size: 17px;
    color: #bd1e24;
    font-weight: bold;
    text-transform: uppercase;*/
    background: url(images/layout/support_txt.png) no-repeat;
    margin-left: 15px;
    margin-top: 3px;
}
.box_cat_header{
    font-family: Arial;
    font-size: 14px;
    color: #3d3d3d;
    font-weight: bold;
}
.box_cat_line{
    height: 1px;
    background-color: #e4e4e4;
    border: 0px;
}

#categoryBoxContainer{
    width: 193px;
    padding-top: 16px;
}

#categoryBoxContainer ul.menu{
    list-style: none;
    color: #000000;
    font-size: 12px;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
#categoryBoxContainer ul.menu li.box_cat_li{
    list-style: none;
}
#categoryBoxContainer ul.menu li.box_cat_li a {
    text-decoration: none;
}
#categoryBoxContainer ul.menu li.current a {
    text-decoration: none;
    color: #bd1e24;
}
#priceBoxContainer, #ratingBoxContainer{
    width: 193px;
    padding-top: 25px;
}
#priceBoxContainer div{
    height: 18px;
}
#priceBoxContainer div.disable a{
    color: grey;
}
#priceBoxContainer div.disable a:hover{
    text-decoration: none;
}
#ratingBoxContainer div.rate_box{
    position: relative;
    margin-left: -3px;
}
#ratingBoxContainer div.rate_box span{
    position: absolute;
    top:2px;
}
/******** Tooltip ***********/

div.simple-hover{
    text-decoration:none;
    text-align:center;		
}
div.simple-hover span{ display: none; }

div.simple-hover:hover{ z-index:2; color: #aaaaff;}

div.simple-hover:hover span.tooltip_shop{
    display:block;
    position: absolute; 
    right:3px;
    top:51px;	
    padding: 0px;	    
    width:237px;	
    z-index:99999;	
}
.cart-table tr td{
    border-bottom: 1px solid #ccc;
}
div.simple-hover:hover span.tool_top{
    display: block;	
    padding: 20px 0px 0 0px;
    background: url('images/layout/your_cart_hover_top.png') no-repeat;
}
div.simple-hover:hover span.tool_body{ /* different middle bg for stretch */
    display: block;
    padding: 0;
    background: url('images/layout/your_cart_hover_body.png') repeat-y; 
}
div.simple-hover:hover span.tool_bottom{
    display: block;
    padding:0px 0px 20px 0px;  
    background: url('images/layout/your_cart_hover_bottom.png') no-repeat;

}
.space{	
    display: block;
    background: url('images/layout/your_cart_hover_space.png') no-repeat;
    height:1px;
    margin:10px 0px 10px 1px;
}
.texttrunk{
    color:#3b3b3b;
    font-size: 15px;
    font-family: Arial,sans-serif;
    font-weight: bold;
}
.texttrunk-orange{
    color:#ffa000;
    font-size: 15px;
    font-family: Arial,sans-serif;
    display: inline-block;
    font-weight: bold;
}
.your_cart_row{
    width:100%;
    margin:0px;
    display: table;
}
#headerCart .your-cart-name-product{
    display: table-cell;
    width: 60%;
}
#headerCart .your-cart-name-product a{ 
    font-size: 10pt; 
    color: #787878;
    text-transform:uppercase; 
    font-weight: bold;
    float:left;
    padding-left:10px;
}
.your-cart-price { 
    color: #b4b4b4; 
    font-size: 15px; 
    font-weight: bold;
    width:28%;
    display: table-cell;
    vertical-align: middle;
}
#headerCart a.your_cart_check_out{
    background: url('images/layout/checkout_home.png') no-repeat;	 
    width: 114px;
    height: 30px;
    text-indent: -99999px;
    margin-left:10px;
    margin-top: 3px;
    float: left;
}
#headerCart a.your_cart_check_out:hover{
    background: url('images/layout/checkout_home_hover.png') no-repeat;	 
    width: 114px;
    height: 30px;
    text-indent: -99999px;
    margin-left:10px;
    margin-top: 3px;
    float: left;
}
.subtotal{	
    color: #3B3B3B;
    float: right;
    font-family: Arial,sans-serif;
    font-size: 20px;
    margin-right: 13px;
    margin-top: 6px;
    text-align: right;
    width: 100px;
}

div.simple-hover .clearb{
    clear: both;
}
.icon_your_cart{	
    background: url("images/layout/icon_your_cart.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    font-size: 13px;
    height: 19px;
    padding-top: 1px;
    position: absolute;
    right: 52px;
    top: 17px;
    width: 20px;
    font-weight: bold;
}
#headerCart a#or_chkout {
    display: block;
    color: #909090;
    font-size: 10pt;
    margin-top: -3px;
    position: absolute;
    right: 121px;
    top: 38px;
}
#view-your-trunk{
    position: absolute;
    right: 89px;
}

/*huyen checkout_paynow*/
#cp_wraper{
    text-align: center;
    padding: 20px 0 50px 0;
}
#cp_header{
    color: #000000;
    font-size: 35px;
}
#cp_txt{
    color: #6c6c6c;
    font-size: 15px;
    font-style: italic;
}
#cp_line1{
    /*background: url("images/layout/cp_line1.png") no-repeat scroll 0 0 transparent;
    margin-left: 74px;*/
    margin-top: 10px;
    height: 20px;
}
#cp_content{
    /*background: url("images/layout/cp_content.png") no-repeat scroll 0 0 transparent;  
    margin-left: 307px;*/
    margin-top: 20px;
    height: 168px;
}
#cp_line2{
    /*background: url("images/layout/cp_line2.png") no-repeat scroll 0 0 transparent;
    margin-left: 74px;*/
    margin-top: 18px;
    height: 20px;
}
#cp_icon{
    margin-top: 20px;
}

#product-options-qty { 
    font-weight: bold; 
    font-size: 1.2em; 
    margin-left: 5px;
    color:#424141;
    height: 35px;
    padding-top: 10px;
}
#product-options-qty .quantity_desc{
    background: url('images/layout/quantity-desc.png') no-repeat;	
    float: left; 
    margin: 0 6px;
    height:17px;
    width:17px;
}
#product-options-qty .quantity_asc{
    background: url('images/layout/quantity-asc.png') no-repeat;	
    float: left;
    height:17px;
    width:17px;
    margin-top: 1px;
}
#product-options-qty .qunits{
    float: left; 
    margin-left: 5px;
}
#product-options-qty .quantity_desc:hover{
    background: url('images/layout/quantity_desc_hover.png') no-repeat;
    float: left;	
    height:17px;
    width:17px;	
    margin: 2px 6px 0px 6px;
}
#product-options-qty .quantity_asc:hover{
    background: url('images/layout/quantity_asc_hover.png') no-repeat;
    float: left;	
    height:17px;
    width:17px;
    margin-top:3px;	
}
#product-options-qty .inputQ {
    width: 35px;
    height: 18px;
    text-align: center;
}
#pi_des{
    background: url(images/layout/pi_des.png) no-repeat;
    width:91px;
    
}
#pi_reviews{
    background: url(images/layout/pi_reviews.png) no-repeat;
    padding-left: 24px;
    margin-left: -29px;
    width: 125px;
}
#pi_ask{
    background: url(images/layout/pi_ask.png) no-repeat;
    padding-left: 21px;
    margin-left: -25px;
    width: 134px;
}
#pi_whosale{
    background: url(images/layout/pi_whosale.png) no-repeat;
    padding-left: 25px;
    margin-left: -24px;
    width: 81px;
}
.pd_img_wrap{
    width: 366px;
    /*height: 458px;*/
    float: left;
    margin-right: 12px;
    border: 1px solid #D2D2D2;
}
.pd_img_wrap_popup{
    width: 366px;
    /*height: 458px;*/
    float: center;
    margin-right: 12px;
    border: 0px solid #D2D2D2;
}